# Archivos y directorios comunes a ignorar

# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos generados
*.log
*.zip

# Archivos de configuración específicos de editores
.vscode/
.idea/

# Otros archivos temporales
.DS_Store


# Ignorar directorios backend/node_modules y frontend/
backend/node_modules/
frontend/
